<header class="header">
    <nav class="nav container">
        <h1 class="header-title">VetAN</h1>
        <div class="nav-links">
            <a href="/" class="nav-link">Список тварин</a>
            <a href="/suppliers" class="nav-link">Послуги</a>
            <a href="/appointments" class="nav-link">Всі прийоми</a>
            <a href="/add-appointment" class="nav-link">Записати на прийом</a>
            <a href="/supplies" class="nav-link">Звітність</a>
            <a href="/owners" class="nav-link">Власники</a>  
            <a href="/veterinans" class="nav-link">Ветеринари</a>
        </div>
    </nav>
</header>
