<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Додати Послугу</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    
    <main class="main-content form-container">
        <h1>Нова Послуга</h1>
        <form action="/add-service" method="POST" class="add-animal-form">
            <label for="services_name">Назва послуги:</label>
            <input type="text" id="services_name" name="services_name" required>

            <label for="description">Опис:</label>
            <textarea id="description" name="description" rows="3" required></textarea>

            <label for="price">Ціна (грн):</label>
            <input type="number" id="price" name="price" step="0.01" min="0" required>

            <label for="duration">Тривалість (напр. 00:30:00 для 30 хв):</label>
            <input type="text" id="duration" name="duration" placeholder="HH:MM:SS" required>


            <label for="service_category">Категорія послуги:</label>
            <input type="text" id="service_category" name="service_category" required>

            <button type="submit" class="submit-button">Додати</button>
        </form>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
